:root {
    font-size: 62.5%;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    background: #8ab3f0;
    
}

#logo_chemis3d {
    width: 42rem;
}

nav {
    padding-bottom: 5rem;
    border-bottom: 1px solid #999999;
    background-color: aliceblue;
    margin-bottom: 2rem;
}


main h1 {
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;

}

main h2 {
    font-size: 2.5rem;
    padding: 1rem;
}

.content-box {
    width: 80%;
    padding-bottom: 50rem;
    border: 1px solid #999999;
    margin: auto;
    background-color: aliceblue;
    border-radius: .5rem;
}

.elements-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vh;
    padding: 0 1vh;
    
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px gray;
    width: 30rem;
    height: 31rem;
    border-radius: 2rem 2rem;
    
}

.box-wrapper img {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid gray;
}

.box-wrapper p {
    font-size: 1.6rem;
    padding: .8rem 0 ;
    border-radius: 0 0 2rem 2rem;
}

.elements-box a {
    text-decoration: none;
}

.elements-box a:hover {
    color: red;
    transform: scale(1.03);
    transition: transform .1s linear;

}