@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #141A26;
    color: white;
    width: 100vw;
    height: 100vh;
}


a {
    color: aliceblue;
}

nav {
    border-bottom: 1px solid black;
    background-color: #5833A6;
    width: 100%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo_astrochemis3d {
    width: 30rem;
}

.logo {
    display: flex;
    align-items: center;
}

.navbtn { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    height: 100%;
    padding-right: 1rem;
}

.navbtn a {
    padding: 1em;
    text-decoration: none;
    font-size: 30px;
}

.navbtn a:hover {
    background-color: #8979D9;
}


main h1 {
    text-align: center;
    font-size: clamp(18px, 25px + 2vw, 54px);
}

main h2 {
    text-indent: 3rem;
    font-size: clamp(16px, 20px + 2vw, 32px);
}


.content-box {
    width: clamp(500px, 50%, 900px);
    margin: 20px auto;
    padding: 10px 50px;
    border: 1px solid black;
    background-color: #2E3D59;
    border-radius: .5rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box p {
    font-size: clamp(12px, 15px + 2vw, 24px);
    text-indent: 3rem;
    text-align: justify;
    margin: .4em;
}

.lig-elementos {
    width: 350px;
    border: 1px solid #000000;
    float: right;
    margin-left: 2rem;
    margin-right: 2rem ;
}

.propriedades-elementos {
    margin: 1rem;
    text-indent:3rem; 
    padding-bottom: 10rem;
}

.propriedades-planetas {
    margin: 1.5rem;
    text-decoration: 3rem;
}

.dados {
    font-size: 24px;
    line-height: 42px;
}

.dados ul {
    list-style: none;
}

 li{
    font-size: 18px;
}

.elements-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 75px;
    padding: 0 1vh;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px #141A26;
    width: 20rem;
    height: 23rem;
    border-radius: 2rem 2rem;
    margin-bottom: 2rem;  
}

.box-wrapper img { 
    width: 100%;
    height: 100%; 
    background-color: blueviolet;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid black;
}

.box-wrapper span {
    font-size: 1.5rem;
    padding: .7rem 0 ;
    border-radius: 0 0 2rem 2rem;
}


.elements-box a {
    text-decoration: none;
}

.elements-box a:hover {
    color: #8979D9;
    transform: scale(1.02);
    transition: transform .1s linear;
}

main a p {
    padding: 2rem;
    text-align: center;
    font-size: 21px;
}

footer {
    width: 100%;
    height: 10rem;
    background-color: #0D0D0D;
}

.footerimg {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#threejs_logo {
    float: right;
    margin-right: 2rem;
    margin-top: 2rem;
}

#logo_if {
    float: right;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}


@media screen and (max-width: 750px){
    nav{
        justify-content: center;
    }
    .logo{
        display: none;
    }
}