@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    background: #141A26;
    color: white
}

a {
    color: aliceblue;
}

nav {
    border-bottom: 1px solid black;
    background-color: #5833A6;
    margin-bottom: 1rem;
    display: flex;
}

canvas {
    border-radius: .5rem;
    
}

#logo_astrochemis3d {
    width: 42rem;
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 50rem;
    
}

.navbtn {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.navbtn a {
    padding: 1em;
    text-decoration: none ;
}

.navbtn a:hover {
    background-color: #8979D9;

}

main h1 {
    text-align: center;
    padding: 1rem;
    font-size: 54px;

}

main h2 {
    text-indent: 1rem;
    font-size: 32px;
}

main p {
    padding: 1rem;
    
}

.lig-elementos {
    border: 1px solid #999999;
    margin-left: 2rem;
    margin-right: 2rem;
    float: left;
}

.propriedades-elementos {
    padding: 2rem;
    margin: 1rem;
    text-indent:3rem ;
}

.prop {
    margin-top: 1.5rem;
}

.content-box {
    width: 80%;
    padding-bottom: 1rem;
    border: 1px solid black;
    margin: auto;
    background-color: #2E3D59;
    border-radius: .5rem;
    margin-bottom: 2rem;
    font-size: 42px;
    
}

.content-box p {
    font-size: 24px;
    text-indent: 3rem;
    text-align: justify;
    margin: .4em;
}

.elements-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 75px;
    padding: 0 1vh;
    
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px #141A26;
    width: 20rem;
    height: 23rem;
    border-radius: 2rem 2rem;
    margin-bottom: 2rem;
    
}

.box-wrapper img { 
    width: 100%;
    height: 100%; 
    background-color: blueviolet;
    border-radius: 2rem 2rem 0 0;
    border: 1px solid black;
}

.box-wrapper span {
    font-size: 1.5rem;
    padding: .7rem 0 ;
    border-radius: 0 0 2rem 2rem;
}


.elements-box a {
    text-decoration: none;
}

.elements-box a:hover {
    color: #8979D9;
    transform: scale(1.02);
    transition: transform .1s linear;

}

main a p {
    padding: 2rem;
    text-align: center;
    font-size: 21px;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #0D0D0D;
}

.rodape {
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    place-items: center;

}

/* 
button {

   --button_radius: 0.75em;
   --button_color: #9effff;
   --button_outline_color: #645959;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }
  
  .btn-v3d {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .btn-v3d {
   transform: translateY(-0.33em);
  }
  
  button:active .btn-v3d {
   transform: translateY(0);
  } */